.list {
  color: #fff;
  width: 300px;
  background-color: #bf07ac;
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.list:hover {
  background-color: #67157ade;
  transition: ease-out 0.2s;
  /* cursor: text; */
}

.list p {
  align-items: center;
  padding: 10px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.list p span {
  /* padding: 10px; */
  cursor: pointer;
}

.faicons {
  margin: 0 5px;
  color: #eee4ee;
}

.faicons:hover {
  color: #dd6cdd;
}

.list p input {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 18px;
}

.list p input:focus {
  outline: none;
}
